@import "../css/reset.css"

$sans_serif = Verdana, Helvetica, Arial, sans-serif;
$serif = Baskerville, Cochin, Georgia, Times, Times New Roman, serif;
$base_font = $sans_serif;

* {
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #333;
  font-family: $base_font;
  font-size: 18px;
  line-height: 22px;
}
#editor {
  width: 800px;
  min-height: 88px;
  margin: 44px auto;
  padding: 44px;
  outline: 1px solid #efefef;

  p {
    min-height: 22px;
  }
}