@import "kouto-swiss"

box-sizing-reset();
normalize();

* {
  margin: 0;
  padding: 0;
}


$sans_serif = Verdana, Helvetica, Arial, sans-serif;
$serif = Baskerville, Cochin, Georgia, Times, Times New Roman, serif;
$base_font = $sans_serif;

body {
  background: #fff;
  color: #333;
  font-family: $base_font;
  font-size: 18px;
  line-height: 22px;
}

#editor {
  width: 800px;
  min-height: 88px;
  margin: 44px auto;
  white-space: pre-wrap;
  outline: none;

  .edtr-blck {
    display: block;
    width: 100%;
    min-height: 22px;    
    color: #999;
    
    &.-note {}
    
    &.-task {
      color: #333;
    }
    
    &.-empty {}
  }
}